<section class="py-5">
  <mat-card class="">
    <mat-card-title>Description</mat-card-title>
    <mat-card-subtitle>Package Management</mat-card-subtitle>
    <mat-card-content>
      <p class="font-bold text-lg">
        This demo project was created using the MEAN Stack. (MongoDB -
        Express.js - Angular - Node.js)
      </p>
      <p class="font-semibold">
        - Frontend => Angular: A Package Feature ngModule contains all the logic
        related to the package management frontend.
      </p>
      <p>
        Data access and state management are provided by an observable service
        which is injected into the components where it is needed.
      </p>
      <p class="font-semibold">
        - Frontend Interface: View Packages: Filter by Type, Suported Devices
        and Version. From the list the user can edit or delete a package.
      </p>
      <p class="font-semibold">
        - Frontend Interface: Add Packages: Add a new package containing a File
        and some data.
      </p>
      <p class="font-semibold">
        - Backend => Node.js - Express.js: A rest-api created with Node.js and
        Express provides the necessary endpoints to create, get, update and
        delete packages.
      </p>
      <p>
        A package consists of a file and some data. (title, type, version,
        supported devices).
      </p>
      <p class="font-semibold">- Database => MongoDB. A noSQL database.</p>
    </mat-card-content>
  </mat-card>
</section>
