<header>
  <mat-toolbar>
    <div class="w-full flex justify-between items-center text-gray-500">
      <a class="uppercase tracking-wider" routerLink="/">Package Management</a>
      <div class="flex">
        <ul class="flex gap-4">
          <li>
            <a mat-button routerLink="list-packages" routerLinkActive="active"
              >View Packages</a
            >
          </li>
          <li>
            <a mat-button routerLinkActive="active" routerLink="add-package"
              >Add New Package</a
            >
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar>
</header>
