<mat-card>
  <div class="text-blue-700 font-semibold">{{ package.title }}</div>
  <div class="flex items-center gap-4 my-2">
    <span class="uppercase font-semibold">Supported Devices</span>
    <mat-chip-list aria-label="Supported Devices">
      <mat-chip *ngFor="let device of package.supportedDevices">{{
        device
      }}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="flex">
    <div class="version-type-flex flex items-center gap-2">
      <span class="font-semibold">Type: {{ package.type }}</span>
      <span class="font-semibold">Version: {{ package.version }}</span>
    </div>
    <div class="file-flex">
      <a [href]="fileDownloadUrl" [download]="package.fileName">
        <button mat-mini-fab color="accent" aria-label="download file">
          <mat-icon>file_download</mat-icon>
        </button>
      </a>
      {{ package.fileName }}
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="font-semibold flex gap-2">
      <span>Created: {{ package.created | date }}</span>
      <span *ngIf="package?.updated"
        >Updated: {{ package.updated | date }}</span
      >
    </div>
    <div class="flex gap-2">
      <button
        mat-mini-fab
        color="primary"
        aria-label="edit"
        class="cursor-pointer"
        (click)="onEdit()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="warn"
        aria-label="delete"
        class="cursor-pointer"
        (click)="onDelete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
