name: rest-api continuous integration

on:
  push:
    branches: [main]

defaults:
  run:
    working-directory: ./rest-api

jobs:
  build:
    name: Test Rest Api
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: '16'

    # - run: npm test
