<mat-form-field appearance="fill" class="w-full">
  <div class="flex">
    <input matInput type="text" [(ngModel)]="selectedFileName" readonly />
    <button mat-flat-button color="accent">Browse</button>

    <input
      type="file"
      class="absolute top-0 left-0 z-10 w-full h-full cursor-pointer opacity-0"
      (change)="onFileChange($event)"
      #uploadFileInput
    />
  </div>
  <mat-hint *ngIf="selectedFileName !== 'Select File'"
    >Click to change the selected file</mat-hint
  >
</mat-form-field>
